#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.agenda-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  padding: 2rem;
}

.agenda-list {
  flex: 1;
  border: 1px solid #ddd;
}

.agenda-topics {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
}

.add-agenda-container {
  max-width: 800px;
  margin: 0 auto;
}

.agenda-form form{
  display: flex;
  flex-direction: column;
  /* gap: 1rem;   */
}

.agenda-form input {
  margin: 10px 100px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 50px;
}

.agenda-form #topics-container {
  display: flex;
}

.agenda-form #topics-container input {
  margin: 10px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 50px;
}

.agenda-form #topics-container button {
  margin: 10px;
  width: 50%;
  padding: 1rem;
}

.agenda-form form .submitbtn {
  display: flex;
  justify-content: center;
  margin: 1rem 100px;
  width: 50%;
}

.added-topics {
  border: 1px solid #ddd;
}

.added-topics ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.added-topics ul li {
  margin: 10px;
  background-color: wheat;
  padding: 5px;
  border-radius: 10px;
  color: black;
  list-style: none;
}